body{
  background-image: url("/assets/imgs/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#content{
  width: 1000px;
  margin: 50px auto;  
  text-align: center;
  align-items: center;
  border: 1px solid rgb(72, 117, 114);
  background-color: #fff;

}
form{
  background-color:rgb(87, 125, 128);
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: space-between;

}
input{
  width: 100%;
  padding: 20px;
}
#saveBtn{
  display: inline-block  ;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
}
ul{
  padding: 5px;
}
li{
  display: flex;
  justify-content: space-between;
}
li:hover{
  background-color: aqua;
  border: 1px solid #ee4d2d;
  z-index: 2;
}
.close{
  color: #000;
  padding:0 40px;
  font-size: 16px;
  border: none;
}
.close:hover{
  background-color: #a87d07;
}
h3{
  margin-left: 20px;
}